<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>REST-WEB Application</display-name>

	<context-param>
		<param-name>locatorFactorySelector</param-name>
		<param-value>beanRefContext.xml</param-value>
	</context-param>

	<context-param>
		<param-name>parentContextKey</param-name>
		<param-value>ear.context</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring-empty.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<env-entry>
		<env-entry-name>LOGBACK-CONFIG</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>apps-properties/arch-be-ejb-uploadMulticanale-be.xml</env-entry-value>
	</env-entry>

	<!-- Puntamenti ALFRESCO -->
	<env-entry>
		<env-entry-name>ALFRESCO-URL</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>https://172.23.138.34/</env-entry-value>
	</env-entry>
	
	<env-entry>
		<env-entry-name>ALFRESCO-USER</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>up-multi-dev</env-entry-value>
	</env-entry>
	
	<env-entry>
		<env-entry-name>ALFRESCO-PW</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>uploadmulti001!</env-entry-value>
	</env-entry>
	
	<!-- Puntamenti NAS -->
	<env-entry>
		<env-entry-name>PATH-NAS-IB</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>/mediabussvil/Clientisvil</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>PATH-NAS-PS</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>/mediabussvil/Promotorisvil</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>PATH-NAS-RV</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>/mediabussvil/Promotorisvil</env-entry-value>
	</env-entry>
	<!-- Puntamenti NAS Folder Deleted -->
	<env-entry>
		<env-entry-name>DELETED-PATH-NAS-IB</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>/mediabussvil/Clientisvil/multichannel-upload-deleted</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>DELETED-PATH-NAS-PS</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>/mediabussvil/Promotorisvil/multichannel-upload-deleted</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>DELETED-PATH-NAS-RV</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>/mediabussvil/Promotorisvil/multichannel-upload-deleted</env-entry-value>
	</env-entry>

	<!-- Puntamenti Filenet -->
	<env-entry>
		<env-entry-name>FILENET-URL</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>http://docm-med-prd.ced.it/WSGDI/services/WSGDIImpl</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>FILENET-USER</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>up-multi-dev</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>FILENET-PW</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>uploadmulti001!</env-entry-value>
	</env-entry>
	<!-- Azure settings -->
	<env-entry>
		<env-entry-name>AZURE-CONNECTION-STRING</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>DefaultEndpointsProtocol=https;AccountName=demofilete;AccountKey=DxJFBJHS20WdzuaL7uJ1EXwOYrl93N3rc2nBcCRe3keo7iJWQDKo4BNGXIdkdfHHWZ8CoEeTeFzGKSB8LRJ+tg==</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>AZURE-MAX-EXPIRATION-TIME-MINUTES</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>45</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>AZURE-SAFE-OFFESET-START-TIME-MINUTES</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>15</env-entry-value>
	</env-entry>

	<env-entry>
		<env-entry-name>ENV</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>SVIL</env-entry-value>
	</env-entry>
</web-app>